[submodule "external/csv-parser"]
	path = external/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "external/mariadb-connector-cpp"]
	path = external/mariadb-connector-cpp
	url = https://github.com/mariadb-corporation/mariadb-connector-cpp.git
